.header {
    height: var(--header-height);
    background-image: linear-gradient(180deg, rgb(164, 155, 155), rgb(55, 53, 53));

}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 350;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    justify-content: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(240, 255, 255, 0.714);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(92, 90, 90);
    height: 13px;
    right: -10px;
    top: 0;
}

.header__navbar-item--bold {
    font-weight: 450;
}

.header__navbar-icon-link {
    color: var(--text-color);
    text-decoration: none;
}

.header__navbar-icon {
    size: 1.5rem;
    margin: 0 3px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--text-color);
}

/* QR Code */

.header__qr {
    position: absolute;
    left: 0;
    top: 118%;
    width: 190px;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgb(174, 170, 170);
    display: none;
    animation: fadeIn ease-in 0.4s;
}

.header__qr::before {
    content: "";
    display: block;
    width: 100%;
    height: 10%;
    left: 0;
    top: -10px;
    position: absolute;
}


.header__navbar-item--show-qr:hover .header__qr {
    display: block;

}

.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;

}

.header__qr-apps-link:nth-child(1) {
    margin-left: -3px;
}

.header__qr-apps-link:nth-child(2) {
    margin-right: 4px;
}

.header__qr-download-img {
    height: 40px;
}

/* Auth form */

.auth-form {
    width: 450px;
    background-color: rgb(98, 95, 95);
    border-radius: 3px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 30px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.0rem;
    font-weight: 450px;
    color: black;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400px;
    cursor: pointer;
}



.auth-form__input {
    width: 100%;
    height: 30px;
    margin-top: 8px;
    padding: 0 10px;
    font-size: 1.3rem;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__control {
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__connect {
    background-color: rgb(223, 217, 210);
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
}

.auth-form__connect-icon {
    font-size: 1.8rem;
}

.auth-form__connect--facebook {
    background-color: #3A5A98;
}

.auth-form__connect--google {
    background-color: white;
}

.auth-form__connect-title-google {
    color: #666;
}

.auth-form__connect-title-facebook {
    color: whitesmoke;
}

.auth-form__connect--facebook .auth-form__connect-icon {
    color: var(--white-color);
}

.auth-form__connect-title {
    margin: 0 24px;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__option {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
}

.auth-form__remember-login-box {
    position: absolute;
    margin-top: 1px;
    margin-left: 3px;
}

.auth-form__forgot-password-link {
    text-decoration: none;
    color: black;

}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
}

.header__cart {
    width: 160px;
    text-align: center;
}

.header__cart-icon{
    color: var(--text-color);
    font-size: 2.4rem;
    margin-top: 1px;
}